# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
env/

# Ignore model weights and checkpoints
*.pt
*.pth

# Ignore data
/data/
